@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Scheherazade New", serif;
}
wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
}
#demo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
li {
  display: inline-block;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
}
article {
  position: fixed;
  color: rgba(30, 30, 30, 0.7);
  font-size: 1rem;
}
h1 {
  text-transform: uppercase;
  font-size: 5rem;
}
article p {
  padding-right: 100px;
}

header .topnav {
  position: fixed;
  top: 0px;
  left: 0;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  z-index: 900;
  background: rgba(30, 30, 30, 0.7);
}
.navbar-brand {
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-right: 30px;
}
.btn {
  width: 12rem;
  border-radius: 6px;
}
.connect,
.forget {
  border-radius: 6px;
}
section {
  position: relative;
  background: rgb(30, 30, 30);
  top: 0;
  margin-top: 10px;
  padding: 10px;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  color: white;
  border: 1px solid greenyellow;
}
.sectionnav {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  height: 6vh;
}
.home {
  color: white;
  font-size: 1rem;
  text-align: center;
  width: 150px;
  border: 1px solid white;
  float: right;
}
.home a:link {
  text-decoration: none;
}
.home {
  color: #fff;
}
.home:hover {
  color: #0f0;
}
h2 {
  font-size: 3rem;
}
h3 {
  text-align: center;
}
section p {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: justify;
}
.headmenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .bottomnav {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  height: 6vh;
  z-index: 900;
  background: rgba(30, 30, 30, 0.8);
}


