@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Scheherazade New", serif;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
}

section #demo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
li {
  display: inline-block;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 700;
}
article {
  position: fixed;
  color: rgba(30, 30, 30, 0.7);
  font-size: 1.8em;
}
h1 {
  text-transform: uppercase;
  font-size: 6rem;
}
article p {
  padding-right: 100px;
}

header .topnav {
  position: fixed;
  top: 50px;
  left: 0;
  padding: 10px;
  width: 100%;
  height: 50px;
  font-size: 11px;
  z-index: 900;
}
.navbar-brand {
  text-transform: uppercase;
}
.btn {
  width: 12rem;
  border-radius: 6px;
}
.connect,
.forget {
  border-radius: 6px;
}
.club {
  background-image: url(-aikido.jpg);
  background-size: cover;
  position: relative;
  /*display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;*/
  bottom: 0;
  margin-top: 50px;
  padding: 50px;
  z-index: 1000;
  height: 100vh;
  color: beige;
}
.back {
  color: white;
  font-size: 1rem;
  text-align: center;
  width: 150px;
  border: 1px solid white;
  float: right;
}
.back a:link {
  text-decoration: none;
}
h2 {
  font-size: 3em;
}
h2,
p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.club p {
  font-size: 1.2em;
  font-weight: 700;
  text-align: justify;
}
.sticky-top {
  position: fixed;
}
