@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Scheherazade New", serif;
  color: #fff;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
}

section #demo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
li {
  display: inline-block;
  padding: 10px;
  font-size: 1.5em;
}
article {
  position: fixed;
}
h1 {
  text-transform: uppercase;
  font-size: 6rem;
  padding-right: 10px;
}

header .topnav {
  position: fixed;
  top: 50px;
  left: 0;
  padding: 10px;
  width: 100%;
  height: 50px;
  font-size: 11px;
  z-index: 1000;
}
.navbar-brand {
  text-transform: uppercase;
}
.btn {
  width: 12rem;
  border-radius: 6px;
}
.connect,
.forget {
  border-radius: 6px;
}
.club {
  background-image: url(-aikido.jpg);
  background-size: cover;
  position: relative;
  bottom: 0;
  margin-top: 100px;
  padding-top: 200px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0px;
  height: 100vh;

}
h2 {
  position: relative;
  font-size: 3em;
}
.club p {
  position: relative;
  font-size: 1em;
}
.sticky-top {
  position: fixed;
}
